/* 
   ==========================================================================
   Responsive Grid System
   ==========================================================================
*/
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  display: table;
  content: "";
  line-height: 0;
}
body:after {
  clear: both;
}
body:before,
body:after {
  display: table;
  content: "";
  line-height: 0;
}
body:after {
  clear: both;
}
.wrapper {
  margin: 9px 15px;
}
