<!-- INCLUDE include/ucp_header.html -->

<!-- IF S_DRAFT_LOADED -->
	<div class="panel">
		<div class="inner">
		
		<h3>{L_INFORMATION}</h3>
		<p>{L_DRAFT_LOADED_PM}</p>
		
		</div>
	</div>
<!-- ENDIF -->

<!-- IF S_SHOW_DRAFTS --><!-- INCLUDE include/drafts.html --><!-- ENDIF -->

<!-- IF S_DISPLAY_PREVIEW --><!-- INCLUDE include/posting_preview.html --><!-- ENDIF -->

<h2>{L_TITLE}</h2>

<div class="panel" id="postingbox">
	<div class="inner">

	<!-- DEFINE $EXTRA_POSTING_OPTIONS = 1 -->
	<!-- INCLUDE include/posting_editor.html -->

	</div>
</div>

<!-- IF S_SHOW_ATTACH_BOX --><!-- INCLUDE include/posting_attach_body.html --><!-- ENDIF -->

<!-- IF S_DISPLAY_REVIEW --><!-- INCLUDE include/posting_topic_review.html --><!-- ENDIF -->

<!-- IF S_DISPLAY_HISTORY --><!-- INCLUDE include/ucp_pm_history.html --><!-- ENDIF -->

<!-- INCLUDE include/ucp_footer.html -->
