
/* 
   ==========================================================================
   Modules or Components
   ==========================================================================
*/

// Framework variables and mixins
@import "../framework/_variables.less";
@import "../framework/_mixins.less";

// Framework Components
@import "../framework/_glyphicon.less";
@import "../framework/_buttons.less";
@import "../framework/_labels.less";
@import "../framework/_breadcrumb.less";
@import "../framework/_badges.less";
@import "../framework/_panels.less";

// Core Customization

.breadcrumb .glyphicon { font-size: @font-size-base; }

.breadcrumb {
	background-color: @white-darker;
	> li {
		&+li:before {
			content: "\276e"; // Unicode space added since inline-block means non-collapsing white-space
			padding: 0 @padding-base-horizontal;
		}
	}
}

// Tablets & small desktops only
@media (min-width: @screen-tablet) and (max-width: @screen-tablet-max) {
	.breadcrumb {
		background-color: @breadcrumb-bg;
	}
}

@media (min-width: @screen-desktop) {
	.breadcrumb {
		background-color: @breadcrumb-bg;
	}
}

.badge { margin: -30px 0 0 -15px; }

.label-admint 	{ background: #BC2A4D; }
.label-dev 		{ background: #009900; }
.label-modt 	{ background: #660099; }
.label-mod 		{ background: #0000CC; }
.label-stylet 	{ background: #CC33CC; }
.label-supt 	{ background: #CC6600; }
.label-webt 	{ background: #0099CC; }
.label-user 	{ background: @primary-color; }