// Framework variables and mixins
@import "framework/_variables.less";
@import "framework/_mixins.less";

/* 
   ==========================================================================
   Theme specific Content & alterations
   ==========================================================================
*/

// It is highly recomended that you break up the theme into sub components and use this file to include them
@import "structure/toolbar.less";
@import "structure/navbar.less";
@import "structure/forumlist.less";
@import "structure/info.less";
@import "structure/copyright.less";

/*
 * Custom Theme Styles
 * --------------------------------------------------*/
 .dl-inline {
	dt { 
		clear: none; 
		width: auto;
		margin: 0 @padding-base-horizontal;
		font-size: @font-size-small;
	}
	dd { 
		float: left;
		margin: -3px @padding-base-horizontal 0 0; 
	}
	.clearfix();
}

 /* Administrator Color
 * --------------------------------------------------*/
.admint { color: #BC2A4D; }
a.admint { .rank-color(#BC2A4D); }

 /* Bot Color
 * --------------------------------------------------*/
.bot { color: @gray-lighter; }
a.bot { .rank-color(@gray-lighter); }

 /* Developer Color
 * --------------------------------------------------*/
.dev { color: #009900; }
a.dev { .rank-color(#009900); }

 /* Mod Developer Color
 * --------------------------------------------------*/
.mod { color: #660099; }
a.mod { .rank-color(#660099); }

 /* Moderator Color
 * --------------------------------------------------*/
.modt { color: #0000CC; }
a.modt { .rank-color(#0000CC); }

 /* Styles Team Color
 * --------------------------------------------------*/
.stylet { color: #CC33CC; }
a.stylet { .rank-color(#CC33CC); }

 /* Support Staff Color
 * --------------------------------------------------*/
.supt { color: #CC6600; }
a.supt { .rank-color(#CC6600); }

 /* User Color
 * --------------------------------------------------*/
.user { color: @primary-color; }
a.user { .rank-color(@primary-color); }

 /* Web Team Color
 * --------------------------------------------------*/
.webt { color: #0099CC; }
a.webt { .rank-color(#0099CC); }
