/* 
   ==========================================================================
   Theme specific Content & alterations
   ==========================================================================
*/
.label-list {
  display: inline-block;
  padding-left: 0;
  list-style: none;
}
.label-list > li {
  display: inline-block;
}
.label-list > li a,
.label-list > li span {
  margin: 0 0 0 -3px;
  padding: .3em .6em;
  font-size: .8em;
  font-weight: 500;
  color: #fff;
  background-color: #999999;
}
.label-list > li a {
  background-color: #21b5e4;
}
.label-list > li a:hover,
.label-list > li a:focus {
  background-color: #1482a4;
}
.label-list .label-list-left a,
.label-list .label-list-left span {
  margin: 0;
  border-top-left-radius: .3em;
  border-bottom-left-radius: .3em;
}
.label-list .label-list-right a,
.label-list .label-list-right span {
  border-top-right-radius: .3em;
  border-bottom-right-radius: .3em;
}
/*
 * Navbar
 * --------------------------------------------------*/
.header .badge {
  margin: -30px 0 0 -15px;
}
.header .glyphicon {
  font-size: 20px;
}
.header > hgroup {
  padding: 7px 12px;
  margin: 12px 0;
  background: #333333;
  border-radius: 6px;
}
.header > hgroup a .glyphicon {
  color: #666666;
}
.header > hgroup a:hover .glyphicon {
  color: #ffffff;
}
.header-nav > ul {
  margin-top: 7px;
}
.header-form {
  margin-top: 4px;
}
.header-logo {
  margin-top: -2px;
  top: 2px;
}
.header-avatar img {
  margin-right: 6px;
  margin-top: -3px;
}
.header-mobile-nav {
  padding: 14px 16px 10px;
  background: #333333;
}
.header-mobile-nav a .glyphicon {
  color: #666666;
}
.header-mobile-nav a:hover .glyphicon {
  color: #ffffff;
}
.header-logo-mobile {
  position: relative;
  float: left;
  top: 6px;
  margin-top: -15px;
}
/*
 * Forumlist
 * --------------------------------------------------*/
.forum-name {
  padding: 6px 24px;
  margin: 0;
  background: #21b5e4;
}
.forum-name > a {
  color: #ffffff;
}
.forum-name > a:hover {
  color: #ffffff;
  text-decoration: underline;
}
.forum-row {
  padding: 6px;
  background: #ffffff;
  border-bottom: 1px solid #cccccc;
}
.forum-row hgroup {
  margin-top: 6px;
}
.forum-row > h2,
.forum-row .h5 {
  margin: 0;
}
.forum-row dfn {
  padding-top: 6px;
}
.forum-row p {
  margin-bottom: 0;
}
.forum-row:hover {
  background: #e6e6e6;
}
.forum-row:hover .label {
  color: #e6e6e6;
}
.forum-row:hover .forum-recent > a {
  color: #333333;
}
.forum-row::last-child {
  border-bottom: none;
}
.forum-icon {
  font-size: 14px;
  padding-right: 12px;
}
.forum-title:before,
.forum-title:after {
  content: " ";
  display: table;
}
.forum-title:after {
  clear: both;
}
.forum-label {
  display: none;
  margin-left: 12px;
  font-size: 10px;
  text-transform: uppercase;
}
.locked,
.unread,
.sticky,
.announcement,
.global,
.mine {
  display: inline;
}
.unread {
  background: #d44950;
}
.sticky {
  background: #48d470;
}
.announcement {
  background: #2f6fa1;
}
.global {
  background: #ffcd1a;
}
.mine {
  padding: 3px 4px;
  font-size: 3px;
  color: #4f9fd0;
  background: #4f9fd0;
}
.forum-sub {
  border-left: 5px solid #333333;
  padding-left: 1px;
}
.forum-description.popover {
  max-width: 60%;
  left: 40%;
}
.forum-description.popover.bottom {
  margin-top: 35px;
}
@media (max-width: 768px) {
  .forum-description {
    display: block;
  }
  .forum-description.popover {
    border: none;
    position: relative;
    font-weight: normal;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: inherit;
    background: transparent;
    max-width: 100%;
    left: 0;
  }
  .forum-description.popover.bottom {
    margin: 0;
  }
  .forum-description.popover .popover-content {
    padding: 0;
    display: inline;
  }
  .forum-description .arrow {
    display: none;
  }
}
.forum-recent {
  padding-top: 4px;
}
.forum-recent > a {
  color: #cccccc;
}
.forum-recent > a:hover {
  color: #333333;
}
.forum-recent .popover {
  margin-left: -36px;
  top: -15px;
}
@media (min-width: 992px) {
  .forum-recent:hover .popover {
    display: block;
  }
  .forum-row hgroup:hover .forum-description {
    display: block;
  }
}
@media (min-width: 1200px) {
  .forum-recent .popover {
    margin-left: 0;
  }
}
/*
 * Info panel
 * --------------------------------------------------*/
.info-stats {
  margin: 24px 0 24px 4%;
}
@media (min-width: 992px) {
  .info-stats {
    margin-left: 13%;
  }
}
@media (min-width: 1200px) {
  .info-stats {
    margin-left: 22%;
  }
}
.info-online .panel-heading {
  font-size: 14px;
}
.info-online-legend .label {
  font-size: 10px;
}
@media (min-width: 1200px) {
  .info-online-legend .label {
    font-size: 12px;
  }
}
.info-online-stats {
  margin: 0;
}
.info-online-stats dd {
  margin-left: 162px;
}
.info-online-stats dd small {
  padding-left: 12px;
  color: #999999;
}
/*
 * Copyright
 * --------------------------------------------------*/
.footer {
  margin-bottom: 18px;
  font-size: 12px;
}
@media (min-width: 768px) {
  .footer {
    font-size: 14px;
  }
}
.label.admint {
  background: #BC2A4D;
}
a.admint {
  color: #BC2A4D;
}
a.admint :hover {
  color: #92213c;
}
a:hover .label.admint {
  background: #92213c;
}
.label.dev {
  background: #009900;
}
a.dev {
  color: #009900;
}
a.dev :hover {
  color: #006600;
}
a:hover .label.dev {
  background: #006600;
}
.label.modt {
  background: #660099;
}
a.modt {
  color: #660099;
}
a.modt:hover {
  color: #440066;
}
a:hover .label.modt {
  background: #440066;
}
.label.mod {
  background: #0000CC;
}
a.mod {
  color: #0000CC;
}
a.mod :hover {
  color: #000099;
}
a:hover .label.mod {
  background: #000099;
}
.label.stylet {
  background: #CC33CC;
}
a.stylet {
  color: #CC33CC;
}
a.stylet:hover {
  color: #a329a3;
}
a:hover .label.stylet {
  background: #a329a3;
}
.label.supt {
  background: #CC6600;
}
a.supt {
  color: #CC6600;
}
a.supt:hover {
  color: #994d00;
}
a:hover .label.supt {
  background: #994d00;
}
.label.webt {
  background: #0099CC;
}
a.webt {
  color: #0099CC;
}
a.webt:hover {
  color: #007399;
}
a:hover .label.webt {
  background: #007399;
}
.label.bot {
  background: #cccccc;
}
a.bot {
  color: #cccccc;
}
a.bot:hover {
  color: #b3b3b3;
}
a:hover .label.bot {
  background: #b3b3b3;
}
.label.user {
  background: #21b5e4;
}
a.user {
  color: #21b5e4;
}
a.user:hover {
  color: #1794bb;
}
a:hover .label.user {
  background: #1794bb;
}
