/* 
   ==========================================================================
   Theme specific Content & alterations
   ==========================================================================
*/
.header .badge {
  margin: -30px 0 0 -15px;
}
.header > hgroup {
  padding: 9px 12px;
  margin: 16px 0;
  background: #333333;
  border-radius: 6px;
}
.header > hgroup .nav > ul {
  margin-top: 8px;
}
.header > hgroup a .glyphicon {
  color: #666666;
}
.header > hgroup a:hover .glyphicon {
  color: #ffffff;
}
.header-logo {
  margin-top: -2px;
  top: 2px;
}
.header-avatar img {
  margin-right: 8px;
  margin-top: -4px;
}
.header-mobile {
  padding: 14px 16px;
  background: #333333;
}
.header-mobile a .glyphicon {
  color: #666666;
}
.header-mobile a:hover .glyphicon {
  color: #ffffff;
}
.header-logo-mobile {
  position: relative;
  float: left;
  top: 8px;
  margin-top: -15px;
}
.forum-name {
  padding: 8px 24px;
  margin: 0;
  background: #21b5e4;
}
.forum-name > a {
  color: #ffffff;
}
.forum-name > a:hover {
  color: #ffffff;
  text-decoration: underline;
}
.forum-title:before,
.forum-title:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.forum-title:after {
  clear: both;
}
.forum-icon {
  font-size: 14px;
  padding-right: 12px;
}
.forum-label {
  display: none;
  margin-left: 12px;
  font-size: 10px;
  text-transform: uppercase;
}
.forum-row {
  padding: 8px;
  background: #ffffff;
  border-bottom: 1px solid #cccccc;
}
.forum-row hgroup {
  margin-top: 6px;
}
.forum-row > h2,
.forum-row .h5,
.forum-row p {
  margin: 0;
}
.forum-row dfn {
  padding-top: 8px;
}
.forum-row:hover {
  background: #f2f2f2;
  cursor: pointer;
}
.forum-row:hover .forum-recent > a {
  color: #333333;
}
.forum-row::last-child {
  border-bottom: none;
}
.forum-sub {
  border-left: 5px solid #b3b3b3;
  padding-left: 3px;
}
.forum-recent > a {
  color: #cccccc;
}
.forum-recent > a:hover {
  color: #333333;
}
.unread {
  display: inline;
  background: #d44950;
}
.sticky {
  display: inline;
  background: #48d470;
}
.announcement {
  display: inline;
  background: #2f6fa1;
}
.global {
  display: inline;
  background: #ffcd1a;
}
.locked {
  display: inline;
}
.mine {
  display: inline;
  margin-top: 2px;
  padding: 4px;
  font-size: 3px;
  color: #4f9fd0;
  background: #4f9fd0;
}
.info-stats {
  margin: 24px 0 24px 4%;
}
@media (min-width: 992px) {
  .info-stats {
    margin-left: 13%;
  }
}
@media (min-width: 1200px) {
  .info-stats {
    margin-left: 22%;
  }
}
.info-online .panel-heading {
  font-size: 14px;
}
.info-online-legend .label {
  font-size: 10px;
}
@media (min-width: 1200px) {
  .info-online-legend .label {
    font-size: 12px;
  }
}
.info-online-stats {
  margin: 0;
}
.info-online-stats dd {
  margin-left: 162px;
}
.info-online-stats dd small {
  padding-left: 12px;
  color: #999999;
}
.footer {
  margin-bottom: 24px;
  font-size: 12px;
}
@media (min-width: 768px) {
  .footer {
    font-size: 14px;
  }
}
