// Framework variables and mixins
@import "framework/_variables.less";
@import "framework/_mixins.less";

/* 
   ==========================================================================
   Theme specific Content & alterations
   ==========================================================================
*/

// It is highly recomended that you break up the theme into sub components or modules and use this file to include them
@import "modules/navbar.less";
@import "modules/forumlist.less";
@import "modules/info.less";
@import "modules/copyright.less";

.label-admint 			{ background: #BC2A4D; }
a:hover .label-admint 	{ background: darken(#BC2A4D, 10%); }

.label-dev 				{ background: #009900; }
a:hover .label-dev 		{ background: darken(#009900, 10%); }

.label-modt 			{ background: #660099; }
a:hover .label-modt 	{ background: darken(#660099, 10%); }

.label-mod 				{ background: #0000CC; }
a:hover .label-mod 		{ background: darken(#0000CC, 10%); }

.label-stylet 			{ background: #CC33CC; }
a:hover .label-stylet 	{ background: darken(#CC33CC, 10%); }

.label-supt 			{ background: #CC6600; }
a:hover .label-supt 	{ background: darken(#CC6600, 10%); }

.label-webt 			{ background: #0099CC; }
a:hover .label-webt 	{ background: darken(#0099CC, 10%); }

.label-user 			{ background: @primary-color; }
a:hover .label-user 	{ background: darken(@primary-color, 10%); }
