/*
 * Toolbar
 * --------------------------------------------------*/
.toolbar {
	margin-top: -8px;
	.text-hide { display: none;}
	a .label { 
		color: @gray;
		background: @gray-darker;
		&:hover { 
			color: @white;
			//background: @gray-darker; 
		}
	}
}

